docs/schema/3.0.9/InvoiceBatch-v0.1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
XML Schema Rec
Generated by X-Meta Wed Aug 14 12:27:39 2002
  -->
<xsd:schema version='0.1' elementFormDefault='qualified' attributeFormDefault='unqualified' id='eBIS-XML_Invoice_Batch' targetNamespace='http://www.ebis-xml.net/invoiceBatch-v0.1' xmlns='http://www.ebis-xml.net/invoiceBatch-v0.1' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:basda='urn:schemas-basda-org:2000:salesInvoice:xdr:3.01' xmlns:doc='urn:schemas-basda-org:schema-extensions:documentation'>
  <xsd:annotation>
    <xsd:appinfo>
      <doc:Metadata>
        <doc:Title>opXML Invoice Batch</doc:Title>
        <doc:Subject>opXML Invoice Batch</doc:Subject>
        <doc:Version>
          <doc:Number>0.01</doc:Number>
          <doc:Status>Deprecated</doc:Status>
        </doc:Version>
        <doc:Author>opXML project participants</doc:Author>
        <doc:Note>This batch envelope is used within the opXML project. The eBIS-XML Batch Envelope provides a general solution for batching any eBIS-XML document.</doc:Note>
      </doc:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import namespace='urn:schemas-basda-org:2000:salesInvoice:xdr:3.01' schemaLocation='http://www.ebis-xml.net/schemas/invoice-v3.xsd' />
  <xsd:element name='InvoiceBatch'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref='basda:Invoice' minOccurs='1' maxOccurs='unbounded'>
          <xsd:annotation>
            <xsd:documentation>Reference to eBIS-XML Invoice element.</xsd:documentation>
            <xsd:documentation>Schema location is:  http://www.ebis-xml.net/schemas/invoice-v3.xsd</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name='TaxBatchTrailer' minOccurs='1' maxOccurs='unbounded'>
          <xsd:complexType>
            <xsd:annotation>
              <xsd:documentation>Tax batch trailer - Mandatory record format occurs following all invoices for a single trading partner, repeats for each VAT rate on any invoice for this T. P.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
              <xsd:element name='SuppliersCodeForBuyer' type='xsd:string' minOccurs='0' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>A common reference code to ensure the batch of invoices are for the same customer.</xsd:documentation>
                  <xsd:documentation>Trading Partner internal id.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='TaxRate' type='TaxRate' minOccurs='1' maxOccurs='1' />
              <xsd:element name='TotalValueAtRate' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Total line goods value at this rate for all invoices</xsd:documentation>
                  <xsd:documentation>A = Sum of &lt;TotalValueAtRate&gt; from line details from all invoices for this T. P. charged at this VAT rate.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='SettlementDiscountAtRate' type='xsd:float' minOccurs='0' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Settlement discount value at this rate</xsd:documentation>
                  <xsd:documentation>B = Value of &lt;SettlementDiscountAtRate&gt; associated with value A above.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='TaxableValueAtRate' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative Value subject to VAT at this rate</xsd:documentation>
                  <xsd:documentation>C = (A- B) Total goods value to which VAT rate is applied for all invoices for this T. P.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='TaxAtRate' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative VAT value at this rate</xsd:documentation>
                  <xsd:documentation>D = Sum of &lt;TaxAtRate&gt; from &lt;TaxSubTotal&gt; for this VAT rate for all invoices for this T. P.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='NetPaymentAtRate' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative Net payable value this rate</xsd:documentation>
                  <xsd:documentation>E = (C+ D) All T. P. invoices total net payable value for goods at this VAT rate, i. e value less settlement discount.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='GrossPaymentAtRate' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative Gross payable value this rate </xsd:documentation>
                  <xsd:documentation>F = (A+ D) All T. P. invoices total gross payable value for goods at this VAT rate, i. e value with no settlement discount.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='BatchNumber' type='xsd:integer' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Batch number</xsd:documentation>
                  <xsd:documentation>Links totals to list of invoices with same &lt;BatchNumber&gt; in &lt;InvoiceHead&gt;.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='NumberOfInvoicesAtRate' type='xsd:integer' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Number of invoices in the batch at this tax rate</xsd:documentation>
                  <xsd:documentation>Number of Invoices with lines at this tax rate.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='TaxCurrency' type='xsd:string' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Currency of tax shown in this batch trailer</xsd:documentation>
                  <xsd:documentation>Defaults to Invoice currency. ISO 3 Char - default: GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='InvoiceBatchTrailer' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:annotation>
              <xsd:documentation>Invoice batch trailer - Mandatory single occurrence record format, represents the accumulated invoice totals for all invoices for this trading partner.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
              <xsd:element name='SuppliersCodeForBuyer' type='xsd:string' minOccurs='0' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>A common reference code to ensure the batch of invoices are for the same customer.</xsd:documentation>
                  <xsd:documentation>Trading Partner internal id.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='NumberOfInvoices' type='xsd:integer' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Number of invoices</xsd:documentation>
                  <xsd:documentation>Number of invoices for this trading partner.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='LineValueTotal' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Total line goods value</xsd:documentation>
                  <xsd:documentation>A = sum of all &lt;LineValueTotal&gt; from line details for all invoices for this T. P.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='SettlementDiscountTotal' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Settlement discount value</xsd:documentation>
                  <xsd:documentation>B = Total value of &lt;SettlementDiscountTotal&gt; for all invoices for this trading partner.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='TaxableTotal' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Value subject to VAT</xsd:documentation>
                  <xsd:documentation>C = (A- B) Total invoice goods value for all invoices for this T. P.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='TaxTotal' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative VAT value</xsd:documentation>
                  <xsd:documentation>D = Invoice VAT total, sum of &lt;TaxTotal&gt; from &lt;InvoiceTotal&gt; section.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='NetPaymentTotal' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative Net payable value</xsd:documentation>
                  <xsd:documentation>E = (C+ D) All Invoices net payable total for this T. P. i. e Total of invoice payable values after settlement discount.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='GrossPaymentTotal' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Cumulative Gross payable value</xsd:documentation>
                  <xsd:documentation>F = (A+ D) All Invoice gross payable total for this T. P. i. e. Total invoice payable values with no settlement discount.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='BatchNumber' type='xsd:float' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Batch number</xsd:documentation>
                  <xsd:documentation>Links totals to list of invoices with same &lt;BatchNumber&gt; on &lt;InvoiceHead&gt; format.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name='InvoiceCurrency' type='xsd:string' minOccurs='1' maxOccurs='1'>
                <xsd:annotation>
                  <xsd:documentation>Currency of invoices in this batch</xsd:documentation>
                  <xsd:documentation>All invoices in batch to be same currency. ISO 3Char - default: GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name='TaxRate'>
    <xsd:simpleContent>
      <xsd:extension base='xsd:float'>
        <xsd:annotation>
          <xsd:documentation>Value V in tax calculations. Code meanings: Standard(S), Zero (eg. Export) (Z), Exempt(E), Lower Rate(L), Higher Rate(H), Other(N).</xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name='Code' type='xsd:string' use='required' />
        <xsd:attribute name='Codelist' type='xsd:string' use='optional' />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
